@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkomna till Hotel TD!</h1>
</div>

<form method="post">
    <div class="form-control">
        <div class="input-group-lg">
            <label class="form-label" for="calculation-method">När vill du boka?</label>
        </div>
        <div class="mt-2 form-control">
            <label class="form-label" for="starting-date-input">Starting Date:</label>
            <input id="starting-date-input" type="date" asp-for="StartingDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <label class="form-label" for="ending-date-input">Ending Date:</label>
            <input id="ending-date-input" type="date" asp-for="EndingDate" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
            <label class="form-label" for="single-room-input">Single Room:</label>
            <input id="single-room-input" type="checkbox" asp-for="SingleRoom"/>
            <label class="form-label" for="double-room-input">Double Room:</label>
            <input id="double-room-input" type="checkbox" asp-for="DoubleRoom"/>
        </div>
        <div class="mt-2">
            <button class="btn btn-outline-dark" type="submit" name="action" value="CheckAvailability">Check Availability!</button>
        </div>
    </div>
</form>

@if(Model.CheckAvailabilityPressed == true){
if (Model.Dates != null && Model.Rooms != null)
{
    var roomCounts = Model.Rooms
        .GroupBy(room => room.Type)
        .ToDictionary(group => group.Key, group => group.Count());

    foreach (var (roomType, count) in roomCounts)
    {
        <form method="post">
            <div class="mt-2 form-control">
                <h1>@count @roomType rooms available!</h1> 
                <button class="btn btn-outline-dark" type="submit" name="action" value="BookRoom @roomType">Book room</button>
            </div>
        </form>
        
    }
}
}
else
{
    <h1>Please choose room type</h1>
}


<form method="post">
    <div class="form-control">
        <div class="input-group-lg">
            <label class="form-label" for="calculation-method">Sök bokning</label>
        </div>
        <div class="mt-2 form-control">
            <label class="form-label" for="name-input">Namn:</label>
            <input id="name-input" type="text" asp-for="Name" value=""/>
            <label class="form-label" for="reference-input">Referensnummer:</label>
            <input id="reference-input" type="text" asp-for="ReferenceNumber" value="" />
            <button class="btn btn-outline-dark" type="submit" name="action" value="FindBooking">FindBooking</button>
        </div>
    </div>
</form>

@if (Model.FindBookingPressed)
{
    <p>@Model.FoundBookingMessage
    </p>
    @if (Model.FoundBookingMessage.Equals("Room found"))
    {
        <p>Booked by: @(Model.FoundBookings.FirstOrDefault()?.BookedBy
      )</p>
        <p>Dates:</p>
        <ul>
            @foreach (var booking in Model.FoundBookings)
            {
                <li>@booking.BookingDate</li>
            }
        </ul>
    }

}